<% include ../partials/header %>
	
	<div class="container">
		<div class="row">
			<h1 class="text-center">Create a New Campground</h1>			
				<div style="width: 30%; margin: 30px auto;">
					<form action="/campgrounds" method="post">
						<div class="form-group">
							<input class="form-control" type="text" name="name" placeholder="name">
						</div><!-- .form-group -->
						<div class="form-group">	
							<input class="form-control" type="text" name="image" placeholder="image url">
						</div><!-- .form-group -->
						<div class="form-group">	
							<input class="form-control" type="text" name="description" placeholder="description">
						</div><!-- .form-group -->
						<div class="form-group">
							<button class="btn btn-primary btn-lg btn-block">Submit!!</button>
						</div><!-- .form-group -->
						<a href="/campgrounds">Back to Campgrounds!</a>
					</form>
				</div><!-- TEMPOARY STYLE DIV-->			
		</div><!-- .row -->
	</div><!-- .container -->

<% include ../partials/footer %>